@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
     background-color: #F6F6F6;
}
*{
     font-family: 'Ubuntu', sans-serif;
}
.container{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.timer{
     text-align: center;
}
.timer-display{
     padding: 5px;
     font-size: 54px;
}
.button-container{
     display: flex;
}
button{
  display: flex;
  padding: 6px 14px;
  margin: 0 5px;
  border-radius: 6px;
  border: none;
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}